       <!-- Masthead-->
       <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">PRATIBHA</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Junior Full Stack Developer</h2>
                <a class="btn btn-primary js-scroll-trigger" href="#about">About Me</a>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Who am I?</h2>
                    <p class="text-white-50">
                        As a Junior Fullstack Developer, the Bootcamp at Coder Academy has allowed me to challenge myself and focus on complex problem solving, development skills and tools, and project management. 
                        I currently work with Ruby, Rails, Javascript, Node.js, React, HTML, CSS, SQL, PostgreSQL and MongoDB.
                        <br>
                        <br>
                        Previously working in Talent Acquisition and HR within IT for over 5 years has provided me with great insight into the industry.
                        I fell in love with what developers do. I loved the idea of being able to come up with creative solutions to everyday problems through strong blocks of code.
                        I realised my passion for coding and being a part of the tech community. 
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <h2 class="text-black-50 mx-auto mt-2 mb-5">Projects</h2>
            <!-- Featured Project Row-->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-sm-0" src="startbootstrap-grayscale-gh/assets/img/project1.png" alt="image of the terminal app" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>The Pill Box</h4>
                        <p class="text-black-50 mb-0">The Pill Box is a Terminal Application built on Ruby!</p>
                        <a href="https://github.com/pratibhars/T1A3.git">View Project</a>
                    </div>
                </div>
            </div>
            <!-- Project One Row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="startbootstrap-grayscale-gh/assets/img/project2.png" alt="image of the deployed website" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Amiigo</h4>
                                <p class="mb-0 text-white-50">Amiigo is a two-sided marketplace application built on Rails and deployed on Heroku.</p>
                                <a href="https://amiigo-marketplace.herokuapp.com/">View Project</a>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Two Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6"><img class="img-fluid" src="startbootstrap-grayscale-gh/assets/img/project3.png" alt="image of the application timer game" /></div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white">Hackthon - Ahead of the Game (Movember Charity)</h4>
                                <p class="mb-0 text-white-50">Participated with a group of girl coders for the Women in Tech, Hack4Health 2020. We built a platform using React for our charity Movember's Rugby Australia Youth Initiative.</p>
                                <a href="https://github.com/pratibhars/aheadofthegame">View Project</a>
                                <hr class="d-none d-lg-block mb-0 mr-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Project Three Row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6"><img class="img-fluid" src="startbootstrap-grayscale-gh/assets/img/project4.png" alt="image of the deployed website" /></div>
                <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white">Portfolio</h4>
                                <p class="mb-0 text-white-50">Portfolio built on Rails and deployed on Heroku.</p>
                                <a href="https://pratibha-portfolio.herokuapp.com/">View Project</a>
                                <hr class="d-none d-lg-block mb-0 ml-0" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact-->
    <section class="signup-section" id="signup"></section>
        <section class="contact-section bg-black">
                    <div class="col-xs-1 align=center">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">pratibhars19@gmail.com</div>
                            </div>
                        </div>
                    </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://twitter.com/pratibha_rs"><i class="fab fa-twitter"></i></a>
                    <a class="mx-2" href="https://www.linkedin.com/in/pratibha-shankar-1b0927b2/"><i class="fab fa-linkedin"></i></a>
                    <a class="mx-2" href="https://github.com/pratibhars"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
    </section>